<html>

<head>

</head>

<body>
    <div class="container">
        <img src="../../assets/img/home-page-animation.svg" id="front-img" />
        <div id="header-section-1"><b>The complete payments solution</b></div>
        <div id="text-section-1">Simplify your payments infrastructure and let PSP take care
            of billing and finance admin so you can focus on growth.</div>
        <img src="../../assets/img/home-page-animation.svg" width="100" height="100" />
    </div>
</body>

</html>