<div class="payment-methods">
    <div class="demo-button-container">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td class="td-first-1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="newName">
                    </mat-form-field>
                </td>
                <td class="td-first-1">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="newUrl" type="password">
                    </mat-form-field>
                </td>
                
                <td class="td-first-1">
                    <mat-form-field appearance="fill">
                        <mat-label>Payment method</mat-label>
                        <mat-select [(ngModel)]="methodSelected" name="food" (selectionChange)="selectionChanged()">
                            <mat-option *ngFor="let method of allPaymentMethods" [value]="method.id">
                                {{method.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="td-first-1">
                    <mat-form-field appearance="fill" *ngIf="bankPayment">
                        <mat-label>Bank</mat-label>
                        <mat-select [(ngModel)]="bankSelected" name="food">
                            <mat-option *ngFor="let bank of banks" [value]="bank.id">
                                {{bank.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                
                <td class="td-first-2">
                    <button mat-raised-button (click)="addData()" class="demo-button" style="width: 105%;">
                        Add data
                    </button>
                </td>
                <td class="td-first-2">
                    <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="removeData()"
                        class="demo-button" style="width: 105%;">
                        Remove data
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <table mat-table [dataSource]="dataToDisplay" class="mat-elevation-z8 demo-table" style="width: 310%;">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width: 33.3%;">Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef style="width: 33.3%;">Bank</th>
            <td mat-cell *matCellDef="let element">{{element.bank}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef style="width: 33.3%;">Username</th>
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr id="row" mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="selectedRow(row)"></tr>
    </table>
</div>